name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Install dependencies
      run: pip3 install -r requirements.txt
    - name: Python Pytest Github Action
      uses: fylein/python-pytest-github-action@v2
      with:
        args: pytest tests --log-level=INFO